<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="myconnstring"
         connectionString="Data Source=DESKTOP-MOPMLC3;Initial Catalog=OnRets;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Default.aspx"/>
    </authentication>
    <compilation debug="true" targetFramework="4.5">
    </compilation>

  </system.web>
</configuration>